---
import { getCollection } from "astro:content";
import Container from "@components/Container.astro";
import PageLayout from "@layouts/PageLayout.astro";
import ArrowCard from "@components/ArrowCard.astro";
import Link from "@components/Link.astro";
import { dateRange } from "@lib/utils";
import { SITE, HOME, SOCIALS } from "@consts";
import { Icon } from "astro-icon/components";

const blog = (await getCollection("blog"))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_POSTS_ON_HOMEPAGE);

const projects = (await getCollection("projects"))
  .filter((project) => !project.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_PROJECTS_ON_HOMEPAGE);

const allwork = (await getCollection("work"))
  .sort(
    (a, b) =>
      new Date(b.data.dateStart).valueOf() -
      new Date(a.data.dateStart).valueOf(),
  )
  .slice(0, SITE.NUM_WORKS_ON_HOMEPAGE);

const work = await Promise.all(
  allwork.map(async (item) => {
    const { Content } = await item.render();
    return { ...item, Content };
  }),
);
---

<PageLayout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <h4 class="animate font-semibold text-black dark:text-white">
      Prajesh Pratap Singh
    </h4>
    <p class="mt-2 animate text-black text-sm dark:text-white">
      Developer | Designer
    </p>
    <div class="space-y-16">
      <section>
        <article class="space-y-4">
          <p class="animate">
            I love to explore new technologies and experiment with different
            ideas to see how they can solve real-world problems.
          </p>
          <p class="animate">
            I can help you build your next website or Android app.
          </p>
        </article>
      </section>

      <a
        href="/quote"
        class="animate w-fit flex items-center gap-x-1 px-5 py-1.5 flex-nowrap rounded border border-black/15 dark:border-white/20 hover:bg-black/5 dark:hover:bg-white/5 hover:text-black dark:hover:text-white transition-colors duration-300 ease-in-out no-underline"
      >
        <div class="text-sm font-bold">Qoute now</div>
        <Icon name="ri:arrow-right-line" />
      </a>
      <section class="animate space-y-4">
        <div class="flex items-center justify-between space-x-4">
          <Icon name="ri:reactjs-fill" class="h-10 w-10 text-gray-400" />
          <Icon name="ri:nextjs-fill" class="h-10 w-10 text-gray-400" />
          <Icon name="tabler:brand-vite" class="h-10 w-10 text-gray-400" />
          <Icon name="mdi:webpack" class="h-10 w-10 text-gray-400" />
          <Icon
            name="mdi:language-typescript"
            class="h-10 w-10 text-gray-400"
          />
          <Icon name="ri:javascript-fill" class="h-10 w-10 text-gray-400" />
        </div>

        <div class="flex items-center justify-between space-x-4">
          <Icon name="ri:html5-fill" class="h-10 w-10 text-gray-400" />
          <Icon name="ri:css3-fill" class="h-10 w-10 text-gray-400" />
          <Icon name="mdi:sass" class="h-10 w-10 text-gray-400" />
          <Icon name="ri:tailwind-css-fill" class="h-10 w-10 text-gray-400" />
          <Icon name="ri:bootstrap-fill" class="h-10 w-10 text-gray-400" />
          <Icon name="mdi:material-ui" class="h-10 w-10 text-gray-400" />
        </div>
        <div class="flex items-center justify-between space-x-4">
          <Icon name="ri:nodejs-fill" class="h-10 w-10 text-gray-400" />
          <Icon name="simple-icons:express" class="h-10 w-10 text-gray-400" />
          <Icon name="dashicons:rest-api" class="h-10 w-10 text-gray-400" />
          <Icon name="mdi:graphql" class="h-10 w-10 text-gray-400" />
          <Icon name="mdi:arch" class="h-10 w-10 text-gray-400" />
          <Icon name="mdi:git" class="h-10 w-10 text-gray-400" />
        </div>
        <div class="flex items-center justify-between space-x-4">
          <Icon name="tabler:brand-mongodb" class="h-10 w-10 text-gray-400" />
          <Icon name="ri:firebase-fill" class="h-10 w-10 text-gray-400" />
          <Icon name="ri:supabase-fill" class="h-10 w-10 text-gray-400" />
          <Icon
            name="tabler:brand-react-native"
            class="h-10 w-10 text-gray-400"
          />
          <Icon name="simple-icons:expo" class="h-10 w-10 text-gray-400" />
          <Icon name="tabler:brand-kotlin" class="h-10 w-10 text-gray-400" />
        </div>
      </section>

      <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">Latest posts</h5>
          <Link href="/blog"> See all posts </Link>
        </div>
        <ul class="flex flex-col gap-4">
          {
            blog.map((post) => (
              <li>
                <ArrowCard entry={post} />
              </li>
            ))
          }
        </ul>
      </section>

      <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">
            Work Experience
          </h5>
          <Link href="/work"> See all work </Link>
        </div>
        <ul class="flex flex-col space-y-4">
          {
            work.map((entry) => (
              <li>
                <div class="text-sm opacity-75">
                  {dateRange(entry.data.dateStart, entry.data.dateEnd)}
                </div>
                <div class="font-semibold text-black dark:text-white">
                  {entry.data.company}
                </div>
                <div class="text-sm opacity-75">{entry.data.role}</div>
                <article>
                  <entry.Content />
                </article>
              </li>
            ))
          }
        </ul>
      </section>

      <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">
            Recent projects
          </h5>
          <Link href="/projects"> See all projects </Link>
        </div>
        <ul class="flex flex-col gap-4">
          {
            projects.map((project) => (
              <li>
                <ArrowCard entry={project} />
              </li>
            ))
          }
        </ul>
      </section>

      <section class="animate space-y-4">
        <h5 class="font-semibold text-black dark:text-white">Let's Connect</h5>
        <ul class="flex flex-wrap gap-2">
          {
            SOCIALS.map((SOCIAL) => (
              <li class="flex gap-x-2 text-nowrap">
                <Link
                  href={SOCIAL.HREF}
                  external
                  aria-label={`${SITE.NAME} on ${SOCIAL.NAME}`}
                >
                  {SOCIAL.NAME}
                </Link>
                {"/"}
              </li>
            ))
          }
          <li class="line-clamp-1">
            <Link
              href={`mailto:${SITE.EMAIL}`}
              aria-label={`Email ${SITE.NAME}`}
            >
              {SITE.EMAIL}
            </Link>
          </li>
        </ul>
      </section>
    </div>
  </Container>
</PageLayout>
<script>
  import { logEvent } from "firebase/analytics";
  import { analytics } from "@lib/firebase";

  logEvent(analytics, "visited_home");
</script>
